[Desktop Entry]
Version=1.1
Type=Application
Name=Scribl
Comment=Create simple instructional videos
Exec=scribl
Categories=AudioVideo;Video
Icon=ink.scribl.Scribl
